<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_information %><br>
    <%= f.text_area :contact_information %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, ['job search','search postponed']) %>
  </div>
  <div class="field">
    <%= f.label :desirable_salary %><br>
    <%= f.text_field :desirable_salary %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
