<%= form_for @applicant, :html => { :class => "form-horizontal applicant" } do |f| %>

    <% if @applicant.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @applicant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name_of_applicant, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
    <%= error_span(@applicant[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :"contact_information", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :contact_information, :class => 'text_field' %>
    </div>
    <%= error_span(@applicant[:contact_information]) %>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:status, ['job search','search postponed']) %>
    </div>
    <%= error_span(@applicant[:status]) %>
  </div>
  <div class="control-group">
    <%= f.label :desirable_salary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desirable_salary, :class => 'text_field' %>
    </div>
    <%= error_span(@applicant[:desirable_salary]) %>
  </div><br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            applicants_path, :class => 'btn btn-default' %>

<% end %>
