<h3><%=  'Partially matched vacancies' %></h3>


      <table class="table table-striped">
         <thead>
              <tr>
                <th><%= 'Vacancy name' %></th>
                <th><%= 'Salary' %></th>
              </tr>
         </thead>
          <tbody>
            <% @part_matched_vacancies.each do |vacancy| %>
              <tr>
                <td><%= link_to vacancy.name, vacancy_path(vacancy) %></td>
                <td><%= number_to_currency(vacancy.salary, :unit => "USD ", :separator => ",") %></td>
              </tr>
            <% end %>
          </tbody>    
       
        </div> 
        </table> 
  