<% javascript 'combo_input' %>

<%- model_class = Applicant -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<div class="row-fluid">
	<div class="col-md-4">

		<%= render :partial => 'form' %>

		<h3> Skills for " <%=t '.title', :default => @applicant.name %> " applicant</h3>

		  
		<%= render partial: 'skills/skills_new' %>

		<table class="table table-condensed" id="skills_table">

		<%= render partial: 'skills/skill', collection: @applicant.skills, params: params %>

		</table>
	</div>	
</div>	











